.card-question-container {
    display: grid;
    width: 95%;
    height: 88%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
}

.card-question-container .info-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-question-container .info-question .image {
    margin: 1rem 0 0.5rem 0;
    width: 70%;
    border-radius: 0.25rem;
    transition: all ease-in-out 300ms;
}

.card-question-container .answer-container .answer-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-question-container .answer-container .answer-form .input-radio-buttons {
    display: flex;
    margin-bottom: 0.5rem;
}

.card-question-container .answer-container .answer-form .correct-button {
    background-color: #457b9d;
    font-size: 4rem;
    text-transform: uppercase;
    margin: 0.45rem;
    width: 12rem;
    border-radius: 0.45rem;
    display: flex;
    transition: all ease-in-out 300ms;
}

.card-question-container .answer-container .answer-form .correct-button input[type="radio"] {
    display: none;
}

.card-question-container .answer-container .answer-form .correct-button input[type="radio"]:checked + label {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0 0;
    background-color: #1d3557;
}

.card-question-container .answer-container .answer-form .correct-button label {
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 0.45rem;
    transition: all ease-in-out 300ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-question-container .answer-container .answer-form .input-group {
    width: calc(12rem*2 + 0.45rem*2);
    background-color: rgba(255, 255, 255, 0.1);
}

.card-question-container .answer-container .answer-form .input-group div {
    color: #f1faee !important;
}

.card-question-container .answer-container .answer-form .input-group input {
    color: #f1faee !important;
}

.card-question-container .answer-container .answer-form .input-group label {
    color: #f1faee !important;
}

.card-question-container .answer-container .answer-form .input-group fieldset {
    border-color: #f1faee !important;
}

.card-question-container .answer-container .submit-button {
    position: absolute;
    bottom: 2%;
    right: 1.2%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.45rem;
    padding: 0.55rem 1rem;
    color: #f1faee !important;
    background-color: #0645aa !important;
}