.update-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.update-container .title {
    color: #edf2f4;
    font-weight: bold;
}

.update-container .update-content {
    height: 80%;
    width: 90%;

    margin: 0.35rem;
}

.update-container .update-content .update-form {
    display: grid;
    grid-template-rows: 6fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.update-container .update-content .update-form .update-form-inputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    margin: 0.5rem;
}

.update-container .update-content .update-form .update-form-inputs .input-group-container {
    width: clamp(200px, 85%, 20rem);
    margin: 0.5rem;
}

.update-container .update-content .update-form .update-form-inputs .input-group {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
}

.update-container .update-content .update-form .update-form-inputs .input-group div {
    color: #f1faee !important;
}

.update-container .update-content .update-form .update-form-inputs .input-group input {
    color: #f1faee !important;
}

.update-container .update-content .update-form .update-form-inputs .input-group label {
    color: #f1faee !important;
}

.update-container .update-content .update-form .update-form-inputs .input-group fieldset {
    border-color: #f1faee !important;
}

.update-container .update-content .update-form .buttons-section {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
}

.update-container .update-content .update-form .buttons-section .login-button {
    background-color: #219ebc;
    font-weight: bold;
    width: 45%;
}

.update-container .update-content .update-form .buttons-section .clear-button {
    background-color: #5e548e;
    font-weight: bold;
    width: 45%;
}