.dashboard-container {
    position: relative;
    height: 100vh;
    background-color: #161623;
    overflow: hidden;
}

.dashboard-container:before {
    content: '';
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: linear-gradient(#0061ff, #60efff);
    border-radius: 50%;
    top: -10rem;
    left: -5rem;
}

.dashboard-container:after {
    content: '';
    position: absolute;
    width: 16rem;
    height: 16rem;
    background: linear-gradient(#42047e, #07f49e);
    border-radius: 50%;
    bottom: -10rem;
    right: -5rem;
}


.dashboard-container .dashboard {
    display: flex;
    position: absolute;
    left: 2.5%;
    top: 2.5%;
    height: 95%;
    width: 95%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0.65rem;
    box-shadow: 0 25px 45px rgba(0, 0,0, 0.1);
    z-index: 2;
    backdrop-filter: blur(25px);
}

.dashboard-container .dashboard .dashboard-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 4;
    height: 100%;
}

.dashboard-container .dashboard .dashboard-content-container .dashboard-content {
    height: 100%;
    border-radius: 0.55rem;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 0 0.5rem 0.5rem 0;
    animation: dashboardContentEffect 900ms;
    overflow: hidden;
}

@keyframes dashboardContentEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}